#design{
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../images/banner_design.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 0 0;
  .container{
    .box_phone{
      padding: 80px 0 0 0;
      position: relative;
      margin: 0 auto;
      width: 680px;
      .wrapper{
        &--tablet{

        }
        &--phone{
          position: absolute;
          bottom: -80px;
          right: 0;
        }
      }
    }
  }
}