#counter{
  background-color: #95e1d3;
  .container{
    display: flex;
    justify-content: space-between;
    padding: 85px 0;
    .box-numeral{
      text-align: center;
      color:#fff;
      .num{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 72px;
      }
      .text{
        font-size: 18px;
      }
    }
  }
}