#hold-mobile
header#header
  .jmr-header
    .logo
      span MoGo
    .hamburger-menu
      #barBurguer.bar
    nav#nav
      .optionsMenu
        //- a.closebtn.d-lg-none(href="javascript:void(0)") &times;
        ul
          li ABOUT
          li SERVICE
          li WORK
          li BLOG
          li.active CONTACT
      .icons.d-none.d-lg-block
        ul 
          li 
            span(style="font-size: 20px; color: #fff;")
              i(class="fas fa-shopping-cart")
          li
            span(style="font-size: 20px; color: #fff;")
              i(class="fas fa-search")




