section#comments
  .container
    .owl-carousel.owl-theme#owl-comentarios
      .item-carousel
        .wrapper-img
          img(src="images/nube-comentario.png", alt="Comentario")
        .wrapper-text
          p "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam cum dolor eos, repudiandae nulla distinctio, officiis veritatis mollitia ab adipisci blanditiis qui deleniti sunt quia laborum. Eaque consequuntur odio laudantium?"
          p Jon Doe
      .item-carousel
        .wrapper-img
          img(src="images/nube-comentario.png", alt="Comentario")
        .wrapper-text
          p "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam cum dolor eos, repudiandae nulla distinctio, officiis veritatis mollitia ab adipisci blanditiis qui deleniti sunt quia laborum. Eaque consequuntur odio laudantium?"
          p Jessica Meza
