section#services
  .container
    .box-title
      p.title We work with
      h2.subtitle Amazing Services
    .contenedor
      .box-information
        .wrapper
          .img
            .icon--1
          .info
            .title Photography
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .wrapper
          .img
            .icon--2
          .info
            .title Web Design
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .wrapper
          .img
            .icon--3
          .info
            .title Creativity
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      a.box--btn(class="verMas") Ver más
      .box-information.box-information--wrapper_more
        .wrapper
          .img
            .icon--4
          .info
            .title SEO
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .wrapper
          .img
            .icon--5
          .info
            .title Css/Html
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        .wrapper
          .img
            .icon--6
          .info
            .title digital
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    .line                                            



