section#counter
  .container
    .box-numeral
      .num 42
      .text Web Design #[br.d-block.d-sm-none]Projects
    .box-numeral
      .num 123
      .text happy #[br.d-block.d-sm-none]client
    .box-numeral
      .num 15
      .text award #[br.d-block.d-sm-none]winner
    .box-numeral
      .num 99
      .text cup of #[br.d-block.d-sm-none]coffee

