section#we-do
  .container
    .box-title
      p.title Service
      h2.subtitle WHAT WE DO
    .box-information
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .box-accordion
      .img-accordion  
        img(src="images/img-tabs-1.jpg", alt="", id="changeImagen-js")
      .accordion(id='accordion')
        .wrapper
          #headingOne.heading
            h5(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne'  data-src="images/img-tabs-1.jpg")
              .box
                .imgIcono.__1
                span Photography 
              .icon.active
          #collapseOne.show(aria-labelledby='headingOne', data-parent='#accordion')
            .text
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .wrapper
          #headingTwo.heading
            h5(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo'  data-src="images/img-tabs-2.jpg")
              .box
                .imgIcono.__2
                span Creativity
              .icon
          #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
            .text
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .wrapper
          #headingThree.heading
            h5(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree'  data-src="images/img-tabs-3.jpg")
              .box
                .imgIcono.__3
                span Web design
              .icon
          #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
            .text
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.




        