section#about
  .container
    .box-title
      p.title What we do
      h2.subtitle Story about us
    .box-information
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .box-details
      .inserteCarousel
        .caption
          img(src="images/fig_1.jpg", alt="")
          .mask
            .info
              span(style="font-size: 20px; color: #fff;")
                i(class="fas fa-users")
              span.textImg SUPER TEAM
        .caption
          img(src="images/fig_1.jpg", alt="")
          .mask
            .info
              span(style="font-size: 20px; color: #fff;")
                i(class="fas fa-users")
              span.textImg SUPER TEAM
        .caption
          img(src="images/fig_1.jpg", alt="")
          .mask
            .info
              span(style="font-size: 20px; color: #fff;")
                i(class="fas fa-users")
              span.textImg SUPER TEAM



