section#banner
  .owl-carousel.owl-theme#owl-banner
    .item.__1
      .filter
      .information
        p.text Creative Template
        h1 WELCOME #[br]TO MOGO
        .btnPrincipal
          a(href="#") LEARN MORE

    .item.__2
      .filter
      .information
        p.text Jessica Meza
        h1 WELCOME #[br]TO MOGO
        .btnPrincipal
          a(href="#") LEARN MORE

    .item.__3
      .filter
      .information
        p.text Jessica Meza
        h1 WELCOME #[br]TO MOGO
        .btnPrincipal
          a(href="#") LEARN MORE

