section#design
  //- .filter
  .container
    .box-title
      p.title For all devices
      h2.subtitle Unique design
    .box_phone
      .wrapper--tablet
        img(src="../images/tablet_design.png", alt="tablet design")
      .wrapper--phone
        img(src="../images/phone_design.png", alt="phone design")